<div class="card">
  <div class="card-header ">
    Post by {{user.username}} on {{format_date created_at}}
    |
 {{comments.length}} {{format_plural "comment" comments.length}}</a>

  </div>
  <div class="card-body">
       <a href="/post/{{id}}"><h5 class="card-title">{{title}}</h5></a>
    <p class="card-text post-content">{{post_content}} </p>
  </div>
</div>
